In [2]:
import pandas as pd

In [4]:
salary=pd.read_csv(r'/Users/angelaivonnesalgadobeltran/Documents/IronHack/Projects/Project_4_Data/base_etablissement_par_tranche_effectif.csv')
salary

,CODGEO,LIBGEO,REG,DEP,E14TST,E14TS0ND,E14TS1,E14TS6,E14TS10,E14TS20,E14TS50,E14TS100,E14TS200,E14TS500
0,01001,L'Abergement-Clémenciat,82,01,25,22,1,2,0,0,0,0,0,0
1,01002,L'Abergement-de-Varey,82,01,10,9,1,0,0,0,0,0,0,0
2,01004,Ambérieu-en-Bugey,82,01,996,577,272,63,46,24,9,3,2,0
3,01005,Ambérieux-en-Dombes,82,01,99,73,20,3,1,2,0,0,0,0
4,01006,Ambléon,82,01,4,4,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36676,97613,M'Tsangamouji,6,976,169,169,0,0,0,0,0,0,0,0
36677,97614,Ouangani,6,976,230,230,0,0,0,0,0,0,0,0
36678,97615,Pamandzi,6,976,569,569,0,0,0,0,0,0,0,0
36679,97616,Sada,6,976,345,345,0,0,0,0,0,0,0,0
36680,97617,Tsingoni,6,976,348,348,0,0,0,0,0,0,0,0